{{if not .catenary}}
// Spritesets
spriteset({{.id}}_underlays, "sheets_1x/{{.id}}_8bpp.png") {
    tmpl_underlay_railtypes_1x()
}

{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_underlays, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "sheets_1x/{{.id}}_32bpp.png",  "sheets_1x/{{.id}}_mask.png") {
   tmpl_underlay_railtypes_1x()
}
{{end}}

alternative_sprites({{.id}}_underlays, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/{{.id}}_8bpp.png") {
    tmpl_underlay_railtypes_2x()
}
 
{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_underlays, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "sheets_2x/{{.id}}_32bpp.png",  "sheets_2x/{{.id}}_mask.png") {
    tmpl_underlay_railtypes_2x()
}
{{end}}
 

spriteset({{.id}}_overlays, "sheets_1x/{{.id}}_8bpp.png") {
    tmpl_overlay_railtypes_1x()
}

{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_overlays, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "sheets_1x/{{.id}}_32bpp.png") {
    tmpl_overlay_railtypes_1x()
}
{{end}}
 
 alternative_sprites({{.id}}_overlays, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/{{.id}}_8bpp.png") {
     tmpl_overlay_railtypes_2x()
 }
 
 {{ if eq .globals.track_bpp "32" }}
 alternative_sprites({{.id}}_overlays, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "sheets_2x/{{.id}}_32bpp.png") {
     tmpl_overlay_railtypes_2x()
 }
 {{end}}

spriteset({{.id}}_tunnel_overlays, "sheets_1x/{{.id}}_8bpp.png") {
    tmpl_tunnel_tracks_1x()
}

{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_tunnel_overlays, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "sheets_1x/{{.id}}_32bpp.png") {
    tmpl_tunnel_tracks_1x()
}
{{end}}
 
alternative_sprites({{.id}}_tunnel_overlays, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/{{.id}}_8bpp.png") {
    tmpl_tunnel_tracks_2x()
}
 
{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_tunnel_overlays, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "sheets_2x/{{.id}}_32bpp.png") {
    tmpl_tunnel_tracks_2x()
}
{{end}}

// Bridge surface spritesets
spriteset({{.id}}_bridge_underlay, "sheets_1x/{{.id}}_8bpp.png") {
    tmpl_bridges_underlay_1x()
}

{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_bridge_underlay, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "sheets_1x/{{.id}}_32bpp.png") {
    tmpl_bridges_underlay_1x()
}
{{end}}

alternative_sprites({{.id}}_bridge_underlay, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/{{.id}}_8bpp.png") {
    tmpl_bridges_underlay_2x()
}

{{ if eq .globals.track_bpp "32" }}
alternative_sprites({{.id}}_bridge_underlay, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "sheets_2x/{{.id}}_32bpp.png") {
    tmpl_bridges_underlay_2x()
}
{{end}}

{{end}}

{{ if .catenary -}}
// Catenary
spriteset({{.id}}_catenary, "sheets_1x/catenary_8bpp.png") {
    tmpl_catenary(1)
}

alternative_sprites({{.id}}_catenary, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "sheets_1x/catenary_32bpp.png") {
    tmpl_catenary(1)
}

alternative_sprites({{.id}}_catenary, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/catenary_8bpp.png") {
    tmpl_catenary(2)
}

alternative_sprites({{.id}}_catenary, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "sheets_2x/catenary_32bpp.png") {
    tmpl_catenary(2)
}

// Pylon
spriteset({{.id}}_pylon, "sheets_1x/pylon_8bpp.png") {
    tmpl_pylon(1)
}

alternative_sprites({{.id}}_pylon, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "sheets_1x/pylon_32bpp.png") {
    tmpl_pylon(1)
}

alternative_sprites({{.id}}_pylon, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "sheets_2x/pylon_8bpp.png") {
    tmpl_pylon(2)
}

alternative_sprites({{.id}}_pylon, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "sheets_2x/pylon_32bpp.png") {
    tmpl_pylon(2)
}
{{- end}}

// GUI
spriteset({{.id}}_gui, "gui/1x/gui_{{.id}}_8bpp.png") {
    tmpl_gui()
}

alternative_sprites({{.id}}_gui, ZOOM_LEVEL_NORMAL, BIT_DEPTH_32BPP,  "gui/1x/gui_{{.id}}_32bpp.png") {
    tmpl_gui()
}

alternative_sprites({{.id}}_gui, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP,  "gui/2x/gui_{{.id}}_8bpp.png") {
    tmpl_gui_2x()
}

alternative_sprites({{.id}}_gui, ZOOM_LEVEL_IN_2X, BIT_DEPTH_32BPP,  "gui/2x/gui_{{.id}}_32bpp.png") {
    tmpl_gui_2x()
}

// Railtype defs
item(FEAT_RAILTYPES, {{.id}}, {{.numeric_id}}) {
    property {
        label: "{{.rail_type_label}}"; 
        
        compatible_railtype_list: [
        {{- $compat := slice .compatible_railtypes -}}
        {{- range $index, $element := $compat -}}
        {{- if gt $index 0 }},{{end}} "{{$element}}"
        {{- end}}];

        powered_railtype_list: [
        {{- $powered := slice .powered_railtypes -}}
        {{- range $index, $element := $powered -}}
        {{- if gt $index 0 }},{{end}} "{{$element}}"
        {{- end}}];

        alternative_railtype_list: [
        {{- $alt := slice .alternative_railtypes -}}
        {{- range $index, $element := $alt -}}
        {{- if gt $index 0 }},{{end}} "{{$element}}"
        {{- end}}];
             
        // TODO: proper introduction logic
        // introduction_date: date(1800,1,1);

        {{if .speed_limit}}speed_limit: {{.speed_limit}} mph; {{end}}

        {{if .catenary -}}
        railtype_flags: bitmask(RAILTYPE_FLAG_CATENARY);
        {{end}}

        construction_cost: {{.construction_cost}};
        maintenance_cost: {{.maintenance_cost}};
        
        sort_order: {{.sort_order}};
        name: {{.name_string}};
        menu_text: string(STR_MENU_{{.rail_type_label}});
        toolbar_caption: string(STR_TOOLBAR_{{.rail_type_label}});
        
        extra_aspects: 2;
    }

    graphics {
        {{if .catenary -}}
        track_overlay: rail_overlays;
        underlay: rail_underlays;
        level_crossings: {{.level_crossing_type}}_level_crossing_switch;
        tunnels: rail_tunnel_overlays;
        bridge_surfaces: rail_bridge_underlay;

        catenary_wire: {{.id}}_catenary;
        catenary_pylons: {{.id}}_pylon;
        {{- else -}}
        track_overlay: {{.id}}_overlays;
        underlay: {{.id}}_underlays;
        level_crossings: {{.level_crossing_type}}_level_crossing_switch;
        tunnels: {{.id}}_tunnel_overlays;
        bridge_surfaces: {{.id}}_bridge_underlay;        
        {{- end}}

        depots: {{.depot_type}}_switch;
        fences: {{.id}}_fence_switch;
        gui: {{.id}}_gui;      

        signals: switch_default_signals;  
    }
}
